@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,800;1,100;1,200;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    align-items: center;

    justify-content: center;
    min-height: 100vh;
    background: #4d59fb;
}

.wrapper{
    width:420px;
    background: #fff;
    border-radius: 7px;
    padding: 28px 28px 45px;
}

.wrapper header{
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}

.wrapper .search{
    position: relative;
    margin: 35px 0 18px;
}

.search input{
    height: 53px;
    width:100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #999;
}

.search :where(i, span){
    position: absolute;
    top:50%;
    color: #999;
    transform : translateY(-50%);

}

.search i{
    left: 18px;
    font-size: 16px;
    pointer-events: none;
}

.search input:focus ~i{
    color: #4d59fb;
}

.search span{
    right: 15px;
    font-size: 18px;
    cursor: pointer;
    display:none;
}